grpc/
grpc.meta

proto/
proto.meta

grpc-protoc/
grpc-protoc.meta

**/Google.Protobuf/
**/Google.Protobuf.meta

**/Grpc.Core/
**/Grpc.Core.meta

**/Grpc.Core.Api/
**/Grpc.Core.Api.meta

**/System.Interactive.Async/
**/System.Interactive.Async.meta